.c-weatherwidget{
	max-width: 760px;
	border-top: 4px solid $primary;
	padding-top: 8px;
	/* crit */

	&__inner{
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		padding: 60px 64px;
		/* crit */

		&-row{
			$_gutter: 64px;
			margin-left: $_gutter / -2;
			margin-right: $_gutter / -2;
			/* crit */

			& > [class^="col-"], & > [class*=" col-"] {
				padding-left: $_gutter / 2;
				padding-right: $_gutter / 2;
				/* crit */
			}
		}
	}

	&-graph{
		min-height: 228px;
		border-radius: 4px;
		box-shadow: 0 2px 10px 0 rgba(#000, .3);
		/* crit */
	}
}
